.swing {
	transform-origin: top center;
	animation: swing 2s ease infinite;
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.mangor-user-layout {
    .dropdown-menu {
        min-width: 20vw;
        padding: 0.5rem;
    }
}

.modal-content {
    padding: 1rem;

    .legend {
        font-size: 1rem;
    }
}